*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral: #f9f9f9;
}

body {
  background-color: var(--neutral);
  display: flex;
  justify-content: center;
  align-content: center;
}