form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 100px 500px;
  gap: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form > label {
  text-align: right;
  align-self: center;
}

form > input {
  padding: 3px;
}

form > button {
  grid-column: 1/span 2;
  width: fit-content;
  place-self: center;
  margin-top: 30px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #333333;
  color: var(--neutral);
}

form > p {
  position: absolute;
  color: darkred;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
}

form > p.success {
  color: darkgreen;
  white-space: nowrap;
}